# 100+ Python challenging programming exercises for Python 3

## 1. Level description
### Level 1	Beginner 
Beginner means someone who has just gone through an introductory Python course. He can solve some problems with 1 or 2 Python classes or functions. Normally, the answers could directly be found in the textbooks.

### Level 2	Intermediate 
Intermediate means someone who has just learned Python, but already has a relatively strong programming background from before. He should be able to solve problems which may involve 3 or 3 Python classes or functions. The answers cannot be directly be found in the textbooks.

### Level 3	Advanced. 
He should use Python to solve more complex problem using more rich libraries functions and data structures and algorithms. He is supposed to solve the problem using several Python standard packages and advanced techniques.

----

## 2. Problem template

Question
Hints


----

## 3. Questions

### Question 1
Level 1

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: 
Consider use range(#begin, #end) method

In [10]:
for x in range(2000, 3201):
    if x % 7 == 0 and x % 5 != 0:
        
        print(x , end= ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [2]:
[x for x in range(2000 , 3201) if x % 7 == 0 and x % 5 != 0]

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]



### Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [15]:
def factorial(n):
    value = 1
    for i in range(1, n+1):
        value = value * i
    return value

number = int(input("Type a number: "))
print(factorial(number))

40320

In [18]:

num = int(input("Enter a number: "))

fact = 1
result = []
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        fact = fact*i
        result.append(fact)
print("Factorial of ",num,"is ",result)

Please Enter a valid number
Factorial of  8 is  [1, 2, 6, 24, 120, 720, 5040, 40320]


### Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [37]:
num = int(input("Enter A number : "))
dict = {}
for i in range(num + 1):
    dicta = {i : i**2}
    dict.update(dicta)

print(f"Your Dicationary from 0 to {num} \n {dict}")

Your Dicationary from 0 to 8
 {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Consider use dict()


### Question 4
Level 1

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
t

In [47]:
numbers = input("Enter Comma seprated Numbers")


list_one = numbers.split(',')
tuple_one = tuple(list_one)

print(list_one)
print(tuple_one)

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

### Question 5
Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

Hints:
Use __init__ method to construct some parameters




### Question 6
Level 2

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of inp

In [53]:
import math

D = input("Enter Comma seprated Numbers")


list_one = D.split(',')
result = []
for d in list_one:
    C = 50
    H = 30

    Q = round(math.sqrt((2 * C *int(d))/H))
    result.append(Q)
print(result)

[18, 22, 24]


### Question 7
Level 2

Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]] 

Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.


### Question 8
Level 2

Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:


without,hello,bag,world

Then, the output should be:
bag,hello,without,world

In [56]:

l = input("Enter Comma seprated Numbers")

sorted(l.split(","))

['bag', 'hello', 'without', 'world']

### Question 9
Level 2

Question£º
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [60]:

l = input("Enter Comma seprated Numbers")

l.upper()

'HELLO WORLD PRACTICE MAKES PERFECT'

### Question 10
Level 2

Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

Hints:

In [78]:
l ="hello world and practice makes perfect and hello world again"
q = sorted(set(l.split(' ')))
print(" ".join(q))

again and hello makes perfect practice world



### Question 11
Level 2

Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:

0100,0011,1010,1001
Then the output should be:
1010

In [77]:
l = '0100,0011,1010,1001'

num = []
a = l.split(',')
for i in a:
    x = int(i, 2)
    #print(x)
    if x % 5 == 0:
        num.append(i)

print(','.join(num))

1010


### Question 12
Level 2

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [88]:
#even = [x for x in range(1000, 3001) if x % 2 == 0]
even =[]
for i in range(1000 , 3001):
     s = str(i)
     if (int(s[0]) % 2 == 0) and (int(s[1]) % 2 == 0) and (int(s[2]) % 2 == 0)  and (int(s[3]) % 2 == 0):
        even.append(s)
print(','.join(even))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### Question 13
Level 2

Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output sho

In [90]:
l = "hello world! 123"

digit = letter = 0
for i in l:
    if i.isdigit():
        digit +=1
    elif i.isalpha():
        letter += 1

    else:
        pass

print(f"Number of digit {digit} \n Number of Letters {letter}")

Number of digit 3
 Number of Letters 10

### Question 14
Level 2

Question:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [97]:
l = 'Hello world!'

upper = lower = 0
for i in l :
    if i.isupper():
        upper +=1
    elif i.islower():
        lower +=1
    else:
        pass

print(f"Upper Charater : {upper} \n lower {lower}")

Upper Charater : 1
 lower 9

### Question 15
Level 2
 Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. Suppose the following input is supplied to the program: 9 Then, the output should be: 11106
Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [101]:
a= input()
num1= int('%s' % a)
num2= int ('%s%s' % (a,a))
num3= int ('%s%s%s' % (a,a,a))
num4 = int ('%s%s%s%s' % (a,a,a,a))
print (num1+num2+num3+num4)

9872



### Question 16
Level 2

Question:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [103]:
values = input()
numbers = [x for x in values.split(",") if int(x)%2!=0]
print(",".join(numbers))

1,3,5,7,9


### Question 17
Level 2

Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200

D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200

In [104]:
netamount= 0
while True:
    s= input()
    if not s:
        break
    values=s.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation =="D":
        netamount= netamount + amount
    elif operation =="W":
        netamount= netamount - amount
    else:
        pass
print(netamount)

300

### Question 18
Level 3

Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output

In [105]:
import re

passwords = input("Type in: ")
passwords = passwords.split(",")

accepted_pass = []
for i in passwords:
    
    if len(i) < 6 or len(i) > 12:
        continue

    elif not re.search("([a-z])+", i):
        continue

    elif not re.search("([A-Z])+", i):
        continue

    elif not re.search("([0-9])+", i):
        continue

    elif not re.search("([!@$%^&])+", i):
        continue

    else:
        accepted_pass.append(i)

print((" ").join(accepted_pass))

ABd1234@1

### Question 19
Level 3

Question: You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score. If the following tuples are given as input to the program: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85 Then, the output of the program should be: [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use itemgetter to enable multiple sort keys.

In [110]:
from operator import itemgetter
l = []

while True:
    tple =input("Enter Tuple")

    if not s :
        break

    l.append(tuple(tple.split(',')))
print(sorted(l, key=itemgetter(0, 1, 2)))

[]

### Question 20
Level 3

Question:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

Hints:
Consider use yield

In [ ]:
def my_generator(n):

    # initialize counter
    value = 0

    # loop until counter is less than n
    while value < n:

        # produce the current value of the counter
        yield value

        # increment the counter
        value += 1

# iterate over the generator object produced by my_generator
for value in my_generator(3):

    # print each value produced by generator
    print(value)

In [111]:
def divbyseven(n):
    i = 0
    while i<n:
        j=i
        i=i+1
        if j%7==0:
            yield j
for i in divbyseven(100):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

### Question 21
Level 3

A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following: UP 5 DOWN 3 LEFT 3 RIGHT 2 ¡­ The numbers after the direction are steps. Write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer. Example: If the following tuples are given as input to the program: UP 5 DOWN 3 LEFT 3 RIGHT 2 Then, the output of the program should be: 2
Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [113]:
x , y = 0, 0

while True:
    move = input("Enter step number : ")

    if not move:
        break

    else:
        move = move.split(" ")
        if move[0] == "UP":
            y = y+ int(move[1])
        elif move[0] == "DOWN":
            y = y - int(move[1])
        elif move[0] == "LEFT":
            x = x - int(move[1])
        elif move[0] == "RIGHT":
            x = x + int(move[1])

d = int(round(math.sqrt(x**2 +y**2)))

print(f"Distance {d}")

Distance 6


### Question 23
level 1

Question:
Write a method which can calculate square value of number

Hints:
Using the ** operator

In [114]:
def sqr(n):
    return n**2

sqr(3)

9


### Question 23
level 1


### Question 24
Level 1

Question:

Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.

Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()

And add document for your own function
Hints:
The built-in document method is __doc__

In [117]:
# Print the docstring (documentation) of the 'abs' function
print(abs.__doc__)
print(int.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4



### Question 30
Define a function that can accept two strings as input and concatenate them and then print it in console.

Hints:

\

### Question 31
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [122]:
def maxlenth(a ,b):
    if len(a) > len(b):
        return a
    elif len(b) < len(a):
        return b
    else:
        return a + b

maxlenth("maqbool", "mabool")

'maqbool'


### Question 34
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

Hints:

Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use

In [9]:
def dictanory():
    dic = dict()
    for i in range (1 ,21):
        dic[i] = i**2

    return dic.keys()
dictanory()

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

### Question 36
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

Hints:

Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [2]:
def dictanory():
    dic = dict()
    for i in range (1 ,21):
        dic[i] = i**2

    return dic.keys()
dictanory()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Question 38
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

Hints:

Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list

In [4]:
l=[x**2 for x in range(1, 21)]
l[0:4]

[1, 4, 9, 16]

### Question 39
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

Hints:

Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list

In [9]:
l=[x**2 for x in range(1, 21)]
l[-5 : ]

[256, 289, 324, 361, 400]

### Question 40
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

Hints:

Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list

In [10]:
l=[x**2 for x in range(1, 21)]
l[5 : ]

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Question 41
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included). 

Hints:

Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use tuple() to get a tuple from a list.

In [12]:
l=[x**2 for x in range(1, 21)]
t = tuple(l)

print(t)
print(type(t))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)
<class 'tuple'>

### Question 42
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line. 

Hints:

Use [n1:n2] notation to get a slice from a tuple.

In [15]:
tpl = (1,2,3,4,5,6,7,8,9,10)
print(tpl[:5])
print(tpl[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Question 43
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10). 

Hints:

Use "for" to iterate the tuple
Use tuple() to generate a tuple from a list.

In [16]:
tpl = (1,2,3,4,5,6,7,8,9,10)

even = []

for i in tpl:
    if i % 2 ==0:
        even.append(i)
    else:
        pass
    
tuple(even)

(2, 4, 6, 8, 10)

### Question 44
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No". 

Hints:

Use if statement to judge condition.

In [17]:
i = input("enter yes")

if i == 'Yes' or i == 'YES' or i == 'yes':
    print("Yes")
else:
    print("No")

Yes

### Question 45
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

Hints:

Use filter() to filter some elements in a list.
Use lambda to define anonymous functions.

In [22]:
l = [1,2,3,4,5,6,7,8,9,10]

even =list(filter(lambda x : x % 2 == 0, l))
even

[2, 4, 6, 8, 10]

### Question 46
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Hints
Use map() to generate a list.
Use lambda to define anonymous functions.

In [26]:
list(map(lambda x: x**2 ,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_squared_numbers = list(map(lambda x: x**2, filter(lambda x: x % 2 == 0, numbers)))
even_squared_numbers

[4, 16, 36, 64, 100]

### Question 48
Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

Hints:

Use filter() to filter elements of a list.
Use lambda to define anonymous functions.

In [34]:
even = list(filter(lambda x: x % 2 == 0, range(1, 21)))
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Question 49
Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

Hints
Use map() to generate a list.
Use lambda to define anonymous functions.

In [35]:
sqr= list(map(lambda x: x**2, range(1, 21)))
sqr

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

### Question 50
Define a class named American which has a static method called printNationality.

Hints:
Use @staticmethod decorator to define class static method.