# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [63]:
import pandas as pd

# demo.csv
# file_path = "demo.csv"
# df = pd.read_csv('D:\ML1BootCamp\Day5_Pandas_test\pandas_evaluation\demo.csv')
# display(df)

# test.csv
file_path = "test1.csv"
test_df = pd.read_csv(file_path)
# display(test_df)

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str

In [3]:
df.columns

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

In [7]:
max_join =df.groupby('Month Name of Joining')['Emp ID'].count().idxmax()
# max=  max_join.idxmax()
# max
max_join

'April'

In [64]:
def max_joinings_month(df):
    mxjoin = df.groupby("Month Name of Joining")['Emp ID'].count().idxmax()
    return mxjoin

print("on demo.csv",max_joinings_month(df))
print("on test.csv",max_joinings_month(test_df))

on demo.csv April
on test.csv December

## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float

In [17]:
df.loc[df["State"] == "KS", "Salary"].mean()

104225.45454545454

In [65]:
def mean_ks_salary(df):
    # your code here
    mean_salry = df.loc[df["State"] == "KS", "Salary"].mean()
    return mean_salry
print("on demo.csv",mean_ks_salary(df))
print("on test.csv",mean_ks_salary(test_df))

on demo.csv 104225.45454545454
on test.csv 121682.33333333333

## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [20]:
df.groupby('Region')['Salary'].mean().idxmax()

'Midwest'

In [66]:
def max_mean_salary_region(df):
    # your code here
    return df.groupby('Region')['Salary'].mean().idxmax()

print("on demo.csv",max_mean_salary_region(df))
print("on test.csv",max_mean_salary_region(test_df))

on demo.csv Midwest
on test.csv West

## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [23]:
df.groupby('Region')['Salary'].mean().idxmin()

'West'

In [67]:
def min_mean_salary_region(df):
    return df.groupby('Region')['Salary'].mean().idxmin()

print("on demo.csv",min_mean_salary_region(df))
print("on test.csv",min_mean_salary_region(test_df))

on demo.csv West
on test.csv Midwest

## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str

In [27]:
df.columns

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

In [26]:
df.groupby('City')['Weight in Kgs.'].mean().idxmax()

'Conroe'

In [68]:
def max_mean_weight_city(df):
    # your code here
    return df.groupby('City')['Weight in Kgs.'].mean().idxmax()

print("on demo.csv",max_mean_weight_city(df))
print("on test.csv",max_mean_weight_city(test_df))

on demo.csv Conroe
on test.csv Conroe

## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float

In [29]:
df['Name Prefix'].value_counts()

Mr.      347
Ms.      227
Mrs.     161
Hon.      89
Dr.       64
Drs.      58
Prof.     54
Name: Name Prefix, dtype: int64

In [31]:
df['Name Prefix'] = df['Name Prefix'].replace('Drs.', 'Dr.')

In [32]:
df.loc[(df["Name Prefix"] == "Dr."), "Salary"].mean()

120150.5737704918

In [83]:
def dr_prof_mean_salary_diff(df):
    drsalary_mean = df.loc[(df["Name Prefix"] == "Dr."), "Salary"].mean()
    prof_salary_mean = df.loc[(df["Name Prefix"] == "Prof."), "Salary"].mean()
    return abs(prof_salary_mean-drsalary_mean)


print("on demo.csv",dr_prof_mean_salary_diff(df))
print("on test.csv",dr_prof_mean_salary_diff(test_df))

on demo.csv 2635.981785063763
on test.csv 6500.446180555562

## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int

In [36]:
df.head(2)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln

In [49]:
female = df[df['Gender'] == 'F']
yahoof = female[female['E Mail'].str.endswith('@yahoo.com')]
len(yahoof.index)

47

In [44]:
f=df[df['E Mail'].str.endswith('@yahoo.com')]
len(f.index)

95

In [70]:
def females_with_yahoo(df):
    # your code here
    female = df[df['Gender'] == 'F']
    yahoof = female[female['E Mail'].str.endswith('@yahoo.com')]
    return len(yahoof.index)

print("on demo.csv",females_with_yahoo(df))
print("on test.csv",females_with_yahoo(test_df))

on demo.csv 47
on test.csv 161

## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int

In [71]:
def doctors_with_gmail(df):
    # your code here
    dr= df[df['Name Prefix'] == 'Dr.']
    gmail = dr[dr['E Mail'].str.endswith('@gmail.com')]
    return len(gmail.index)

print("on demo.csv",doctors_with_gmail(df))
print("on test.csv",doctors_with_gmail(test_df))

on demo.csv 42
on test.csv 5

## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [57]:
male = df[df['Gender'] == 'M']
male.head(2)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln
5,520092,Mr.,Lamont,L,Woods,M,lamont.woods@hotmail.com,Ignacio Woods,Beulah Woods,Trujillo,...,037-74-2595,236-597-8196,Purcellville,Loudoun,Purcellville,VA,20134,South,llwoods,8tf/YU}>s

In [81]:
male = df[df['Gender'] == 'M']
df.loc[male['Age in Yrs.'].idxmin()]['Password']

'xPr\\aGPTQ#v'

In [82]:
def youngest_male_password(df):
    # your code here
    male = df[df['Gender'] == 'M']
    return df.loc[male['Age in Yrs.'].idxmin()]['Password']

print("on demo.csv",youngest_male_password(df))
print("on test.csv",youngest_male_password(test_df))

on demo.csv xPr\aGPTQ#v
on test.csv xPr\aGPTQ#v